.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-image: url(../images/Pic\ BG.png);
  background-color: black;
  width: 1920px;
  height: 992px;
}

.header__items {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  height: 82px;
  align-items: flex-end;
}

.container {
  max-width: 1760px;
}

.shot {
  font-family: "YoungSerif";
  font-size: 33px;
  color: #bc1a03;
}

.menu-items {
  display: flex;
  font-family: "Montserrat";
  justify-content: space-between;
  width: 671px;
}

.item a {
  color: white;
  font-size: 18px;
}
.item > .active {
  text-decoration: underline;
  text-decoration-color: rgb(188, 26, 3);
}
.header__social-networks {
  width: 83px;
  display: flex;
  justify-content: space-between;
}
